.reviews{
    padding-top: 50px;
    padding-bottom: 50px;
}

.reviews__items{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
}

.reviews__items .slick-dots{
    margin-top: 20px;

    display: flex;
    justify-content: center;
    
    li{
        margin-right: 15px;
        border-radius: 50%;

        &:last-child{
            margin-right: 0;
        }

        font-size: 0;

        button{
            width: 10px;
            height: 10px;

            border: 1px solid $orange;
            border-radius: 50%;
            cursor: pointer;
                
            background-color: $orange;

            &:focus{
                outline: none;
            }
        }

    }
}

.reviews__items .slick-dots .slick-active{

     button{
         background-color: $white;
     }
     
}
 

.reviews__item{
    margin-bottom: 20px;

    padding-right: 30px;
    padding-left: 30px;

    cursor: pointer;

    &:focus{
        outline: none;
    }
}

 

.reviews__text{
    position: relative;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  
    margin-bottom: 30px;

    background-color: $grayLight;

    font-style: italic;

    &::after{
        content: "";

        position: absolute;
        bottom: -35px;
        left: 20px;
        z-index: -1;

        display: block;
        border: 15px solid transparent; 
        border-top: 25px solid $grayLight;
    }
}

.reviews__author{
    display: flex;
    align-items: center;
}

.reviews__author-avatar{
    margin-right: 18px;
}


.reviews_author-name{
    color: $grayThree;
    font-size: 20px;
    font-weight: 700;
}
    


@media (max-width: 916px){

    .reviews__item{
        flex-basis: 45%;
    }

    .reviews__text{
        max-width: 100%;
    }

}

.slider{
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 542px){
    
    .reviews{
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .reviews__items{
        margin-top: 30px;
    }

    .reviews__item{
        flex-basis: 100%;

        padding-left: 0;
        padding-right: 0;
    }

}
 

