//font-family
$fontOpenSans: 'Open Sans', sans-serif;
$fontRaleway:  'Raleway', sans-serif;
 
//colors
$gray: #9c9c9c;
$black: #000000;
$blackTwo: #212121;
$grayTwo: #86878b;
$white: #ffffff;
$brown:  #403733;
$orange: #ff9b51;
$grayLight: #f5f5f5;
$grayThree: #333333;
$grayFour: #d6d6d6;
$gr: #b7b7b7;

 