<div class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__social">

                <a class="social-media__link" href="#">
                    <svg class="social-media__net network">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>

                <a class="social-media__link" href="#">
                    <svg class="social-media__net network">
                        <use xlink:href="#google-plus"></use>
                    </svg>
                </a>

                
                <a class="social-media__link" href="#">
                    <svg class="social-media__net network">
                        <use xlink:href="#instagram"></use> 
                     </svg>
                </a>

                <a class="social-media__link" href="#">
                    <svg class="social-media__net network">
                        <use xlink:href="#pinterest-logo"></use> 
                    </svg>
                </a>

                <a class="social-media__link" href="#">
                    <svg class="social-media__net network">
                        <use xlink:href="#rss"></use> 
                    </svg>
                </a>

                <a class="social-media__link" href="#">
                    <svg class="social-media__net network">
                        <use xlink:href="#stumbleupon"></use> 
                    </svg>
                </a>

                <a class="social-media__link" href="#">
                    <svg class="social-media__net network">
                        <use xlink:href="#twitter"></use> 
                    </svg>
                </a>

            </div>

            <div class="footer__copy">
                © 2015 Axure Themes
            </div>

        </div>
    </div>
</div>