<div class="header">
    <div class="container">

        <div class="header__inner">

            <a href="#">
                <img src="./assets/img/header/logo.png" alt="logo">
            </a>

            <nav class="header__menu">

                <a class="header__menu-link" href="#">Features</a>
                
                <a class="header__menu-link" href="#">About
                </a>

                <a class="header__menu-link" href="#">Pricing
                </a>

                <a class="header__menu-link" href="#">Reviews
                </a>

                <a class="header__menu-link" href="#">Contact
                </a>

            </nav><!-- header__menu -->

            <div class="header__menu-burger" id = "js-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
 
        </div> <!-- header__inner -->

    </div> <!-- container -->
</div><!-- header -->
 