//utilities
@import "utilities/fonts";
@import "utilities/mixins";
@import "utilities/normalize";
@import "utilities/variables";


/* Default styles */
body{
    margin: 0;
    padding: 0;

    line-height: 1.5;
    font-family: $fontOpenSans;
    font-weight: 400;
    font-size: 14px;
    color: $grayTwo;
    //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



.link{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border: 2px solid $white;     

    color: $white;
    font-size: 15px;
    font-weight: 600;

    transition: background-color .2s linear;

    &:hover{
        background-color: $brown;
    }
}

.btn{
    cursor: pointer;
 
    border: none;
    background: $orange;

    color: $white;
    font-size: 15px;
    font-weight: 600;

    transition: background .2s linear;

    &:focus{
        outline: none;
    }

    &:hover{
        background: darken($orange, 15%);
    }
}

.title{
    text-align: center;
    color: $blackTwo;
    font-family: $fontRaleway;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;

    &:after{
        content: "";
        display: block;
        width: 64px;
        height: 2px;
        margin-top: 15px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        background-color: $orange;
    }
}

@media (max-width: 542px){

    .title{
        font-size:  24px;
    }
    
}

.subtitle{
    text-align: center;
    line-height: 1.428;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.container{
    @include min-max(320px, 1130px, 15px);
}


/* Blocks */
 @import "./blocks/header";
 @import "./blocks/intro";
 @import "./blocks/social-media";
 @import "./blocks/network";
 @import "./blocks/sub";
 @import "./blocks/standart";
 @import "./blocks/awesome";
 @import "./blocks/pricing";
 @import "./blocks/reviews";
 @import "./blocks/stylish";
 @import "./blocks/contacts";
 @import "./blocks/footer";